@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div style="margin:200px; color:white;">
    <hgroup class="title">
        <h1 style="text-shadow:-1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;text-decoration: underline; text-align:center; font-family:'Goudy Old Style'; color:red; font-size:45px">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
    </div>
